<div id="tm-bottom" class="tm-bottom uk-section-muted">
  <div class="uk-grid-margin uk-flex-middle uk-grid" uk-grid>
    <div class="uk-width-1-5@m uk-first-column">
      <div class="uk-margin-small">
        <picture class="uk-width-1-2@s"
          ><img
            src="/logo/Nishkritih_logo.png"
            alt="Nishkritih Logo"
            class="uk-width-1-2"
          />
        </picture>
      </div>
      <div class="uk-panel">
        <br />
        Copyright <a style="color: #02171f">Nishkritih Inc.</a><br />
        <div class="uk-margin-small">
          <div class="uk-child-width-auto uk-grid-small uk-flex-middle uk-grid">
            <div class="uk-first-column">
              <a
                class="uk-icon"
                href=""
                uk-icon="icon: linkedin;"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  data-svg="linkedin"
                ></svg
              ></a>
            </div>
            <div>
              <a
                class="uk-icon"
                href=""
                uk-icon="icon: twitter;"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  data-svg="twitter"
                ></svg
              ></a>
            </div>
            <div>
              <a
                class="uk-icon"
                href=""
                uk-icon="icon: facebook;"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  data-svg="facebook"
                ></svg
              ></a>
            </div>
            <div>
              <a
                class="uk-icon"
                href=""
                uk-icon="icon: instagram;"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  data-svg="instagram"
                ></svg
              ></a>
            </div>
            <div>
              <a
                class="uk-icon"
                href=""
                uk-icon="icon: youtube;"
                target="_blank"
                rel="noopener noreferrer"
                ><svg
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  data-svg="youtube"
                ></svg
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-width-expand"></div>
    <div class="uk-width-auto">
      <div class="uk-grid-divider uk-grid" uk-grid="">
        <div class="uk-first-column">
          <ul style="list-style-type: none">
            <li><a class="uk-link-muted" href="">Products</a></li>
            <li><a class="uk-link-muted" href="">Features</a></li>
            <li><a class="uk-link-muted" href="">Pricing</a></li>
          </ul>
        </div>
        <div>
          <ul style="list-style-type: none">
            <li><a class="uk-link-muted" href="">Blog</a></li>
            <li>
              <a class="uk-link-muted" href="">
                <nobr style="pointer-events: none">Developers</nobr>
              </a>
            </li>
            <li>
              <a class="uk-link-muted" href="">
                <nobr style="pointer-events: none">User Agreement</nobr>
              </a>
            </li>
            <li>
              <a class="uk-link-muted" href="">
                <nobr style="pointer-events: none">Privacy Notice</nobr>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul style="list-style-type: none">
            <li>
              <a
                uk-toggle="target:#contact-us-lightbox"
                class="uk-link-muted"
                data-gtmsection="footerContact"
                data-gtm="btnContact"
              >
                <nobr style="pointer-events: none">Contact Us</nobr>
              </a>
            </li>
            <li>
              <a class="uk-link-muted" href="">
                <nobr style="pointer-events: none">About Us</nobr>
              </a>
            </li>
            <li><a class="uk-link-muted" href="">Support</a></li>
            <li><a class="uk-link-muted" href="">Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
