<nav class="uk-navbar-container" uk-navbar="mode: hover">
    <div class="uk-navbar-left">

        <img class="uk-width-1-2" src="/logo/Nishkritih_logo.png"></img>
    </div>
    <div class="uk-navbar-item">
        <ul class="uk-navbar-nav">
            <li id="mobileRepair">
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> Mobile Repair
                </a>
                <div class="uk-navbar-dropdown" style="min-width: 500px;">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                        <div>
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                CATEGORIES
                                <li><a href="#">Screen</a></li>
                                <li><a href="#">Battery</a></li>
                                <li><a href="#">ChargingJack</a></li>
                                <li><a href="#">Back Panel</a></li>
                                <li><a href="#">Proximity Censor</a></li>
                                <li><a href="#">Aux Jack</a></li>
                                <li><a href="#">Mic</a></li>
                                <li><a href="#">Speaker</a></li>
                                <li><a href="#">Receiver</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>TopBrands
                                    <div uk-grid class="uk-grid">
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right uk-margin-left ">
                                            <img src="/logo/apple.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/asus.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/honor.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/vivo.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/sony.jpg">

                                        </a>

                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-left uk-margin-small-right">
                                            <img src="/logo/mi.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/vivo.jpg">

                                        </a>
                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/sony.jpg">

                                        </a>

                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-left uk-margin-small-right">
                                            <img src="/logo/samsung.jpg">

                                        </a>

                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/oneplus.jpg">

                                        </a>

                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/nokia.jpg">

                                        </a>

                                        <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-margin-left uk-padding-remove uk-margin-small-right">
                                            <img src="/logo/Motorola.jpg">

                                        </a>

                                    </div>

                                    <li>

                            </ul>
                        </div>

                    </div>

                </div>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> T.V Repair
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> Laptop Repair
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon k-margin-small-right" uk-icon="icon: star"></span> Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span> About Us
                    </a>
                </li>
        </ul>
        <div class="uk-flex uk-flex-between">
            <a id="btnHomePageSignUp" class="uk-button uk-width-small uk-button-secondary uk-margin-right">SIGN UP</a>
            <a id="btnHomePageLogIn" class="uk-button uk-width-small uk-button-primary" name="Login">Login</a>
        </div>
    </div>
</nav>