<div>
  <img
    src="./logo/Nishkritih_logo.png"
    class="uk-width-1-4 uk-align-center"
    alt="Nishkritih.com"
  />
  <div>
    <div class="uk-text-left">Email or Username:</div>
    <input
      id="uname"
      type="text"
      placeholder="Enter Username Or Email"
      name="uname"
      class="uk-input"
    />
    <br />
    <label id="Remail" class="uk-text-danger uk-text-bolder"></label>
    <br />
    <div class="uk-text-left">Password:</div>
    <input
      id="rpassword"
      type="password"
      placeholder="Enter Password"
      name="psw"
      class="uk-input"
    />
    <br />
    <span id="Rpassword" class="uk-text-danger uk-text-bolder"></span>
    <br />
    <div class="uk-flex uk-flex-between uk-margin-bottom">
      <a
        id="btnSignUp"
        class="uk-button uk-width-small uk-button-secondary"
        href="#signup_modal"
        uk-toggle
        >SIGN UP</a
      >
      <a
        id="btnSignIn"
        class="uk-button uk-width-small uk-button-primary"
        name="SignIn"
        >Login</a
      >
    </div>
    <br />
    <div class="uk-flex uk-flex-between uk-margin-small-bottom">
      <label
        ><input
          type="checkbox"
          id="chkRememberMe"
          class="uk-margin-small-right uk-checkbox"
          checked="checked"
        />&nbsp;Stay signed in</label
      >
      <a class="uk-link">Forgot Password?</a>
    </div>
  </div>
</div>
