


      <div class="uk-text-left" uk-modal>Enter Suplier Name</div>
      <input
        id="usupplier"
        type="text"
        placeholder="Enter Suplier Name"
        name="uname"
        class="uk-input"
      />
      <br />
      <label id="Rsupplier" class="uk-text-danger uk-text-bolder"></label>
      <br />
      <div class="uk-text-left">Address</div>
      <input
        id="raddress"
        type="textarea"
        placeholder="Address"
        name="psw"
        class="uk-input"
      />
      <br />
      <span id="raddress" class="uk-text-danger uk-text-bolder"></span>
      <br />
      <div class="uk-text-left">Phone no</div>
      <input
        id="rphone"
        type="password"
        placeholder="Phone no"
        name="psw"
        class="uk-input"
      />
      <br />
      <br>
      <div class="uk-text-left">Services</div>
      <input
        id="rservices"
        type="password"
        placeholder="Services"
        name="psw"
        class="uk-input"
      />
      <br />
      <br />
      <div class="uk-flex uk-flex-between uk-margin-bottom">
        <a id="btnAddUp" class="uk-button uk-width-small uk-label-success"
          >Add</a
        >
        <br>
        <label
        ><input
          type="checkbox"
          id="chkRememberMe"
          class="uk-margin-small-right uk-checkbox"
          checked="checked"
        />&nbsp;Stay safe in</label
      >
      </div>
      
       
      
  