<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Nishkritih Company - Get Expert Repair Services With best price Repair
      Services at Home
    </title>
  </head>
  <body>
    <div>I am on account Page</div>
    <h2>this is value <%= text %></h2>
  </body>
</html>
