<!DOCTYPE html>
<html lang="en">
<head>
        <title>Nishkritih Company - Get Expert Repair Services With best price Repair Services at Home</title>
</head>
<body>
    <div>I am on home Page
    </div>
    <a href="home"> go to home</a>
    <a href="order"> go to order</a>
    <a href="account"> go to account</a>
    <a href="payment"> go to payment</a>

    <div><%- include('../partials/login.html'); %></div>

</body>
</html>