<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/uikit.theme.css" />
    <link rel="stylesheet" href="css/chosen.css" />
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/uikit-icons.js"></script>
    <script src="js/uikit.js"></script>
    <link rel="stylesheet" href="css/uikit-rtl.css" />
    <link rel="stylesheet" href="css/uikit.css" />
    <script src="nishkritih.js"></script>
    <script src="n.page.color.js"></script>
    <script src="n.page.product.js"></script>
    <script src="n.page.brand.js"></script>
    <script src="n.page.util.js"></script>
    <script src="n.page.home.js"></script>
    <script src="n.page.card.js"></script>

    <script src="n.page.loginOffCanvas.js"></script>
    <script src="n.control.accessories.js"></script>
    <script src="n.control.finalproduct.js"></script>
    <script src="n.control.pricesummary.js"></script>
    <%- include('../partials/loginModal.html') -%>
        <%- include('../partials/registerModal.html') -%>

            <title></title>
</head>

<body class="uk-overflow-auto">
    <%- include('../partials/header.ejs') -%>
        <div id="Navigation" uk-grid>
            <a class="uk-padding-remove-right">Home</a>
        </div>

        <div id="Product" class="uk-hidden uk-margin-medium-left">
            <h1>Select Product</h1>
        </div>
        <div id="Color" class="uk-hidden uk-margin-medium-left">
            <h1>Select Color</h1>
        </div>

        <div id="Checkout" class="uk-margin-remove">
            <div name="modal"></div>
            <div name="color"></div>
            <span class="">Pick Your Repair Service</span>
        </div>
        <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
            <div class="uk-offcanvas-bar">
                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <img src="https://www.cashify.in/static/svgs/sign_in.svg" />
                <div id="divLoginUser">
                    <h6>You’re just 1-step away from repairing your device.</h6>
                    <p>Please enter your phone number</p>
                    <input id="loginPhoneNumber" class="uk-input" type="text"
                        placeholder="Please Enter your contact number" />
                    <div class="uk-margin">
                        <button id="btnPhoneNumber" class="uk-button uk-button-primary">
                            Continue
                        </button>
                    </div>
                </div>

                <div id="divVerifyUser" hidden>
                    <h6>Enter OTP</h6>
                    <p>We have sent OTP on</p>
                    <div id="labelPhone"></div>
                    <input id="inputOtp" class="uk-input" type="text" placeholder="Enter OTP" />
                    <div class="uk-margin">
                        <button id="btnVerifyOtp" class="uk-button uk-button-primary">
                            verify otp
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin-small">
            <h2 class="uk-card-title uk-margin-remove-bottom">Top Selling Brands</h2>

            <div class="uk-flex uk-flex-wrap">
                <div id="Brand" class="uk-margin-medium-left uk-grid"></div>
            </div>
        </div>

        <%- include('../partials/footer.ejs') -%>
</body>

</html>