<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/uikit.theme.css">
    <link rel="stylesheet" href="css/chosen.css">
    <script src="js/chosen.jquery.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <!-- <script src="./jquery/jquery-3.4.1.min.js"></script> -->
    <script src="js/uikit-icons.js"></script>
    <!-- <script src="/uikit-icons.min.js"></script> -->
    <script src="js/uikit.js"></script>
    <!-- <script src="/uikit.min.js"></script> -->
    <link rel="stylesheet" href="css/uikit-rtl.css">
    <link rel="stylesheet" href="css/uikit.css">
    <script src="nishkritih.js"></script>
    <script src="n.page.color.js"></script>
    <script src="n.page.product.js"></script>
    <script src="n.page.brand.js"></script>
    <script src="n.page.util.js"></script>
    <script src="n.page.home.js"></script>
    <script src="n.control.accessories.js"></script>
    <script src="n.control.finalproduct.js"></script>
    <script src="n.control.pricesummary.js"></script>
    <%-  include('../partials/loginModal.html') -%>
    <%-  include('../partials/registerModal.html') -%>
    
    <title></title>
</head>

<body class="uk-overflow-auto">
    <nav class="uk-navbar-container" uk-navbar="mode: hover">
        <div class="uk-navbar-left">

            <img class="uk-width-1-2" src="/logo/Nishkritih_logo.png"></img>
        </div>
        <div class="uk-navbar-item">
            <ul class="uk-navbar-nav">
                <li id="mobileRepair">
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Mobile Repair
                    </a>
                    <div class="uk-navbar-dropdown" style="min-width: 500px;">
                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    CATEGORIES
                                    <li><a href="#">Screen</a></li>
                                    <li><a href="#">Battery</a></li>
                                    <li><a href="#">ChargingJack</a></li>
                                    <li><a href="#">Back Panel</a></li>
                                    <li><a href="#">Proximity Censor</a></li>
                                    <li><a href="#">Aux Jack</a></li>
                                    <li><a href="#">Mic</a></li>
                                    <li><a href="#">Speaker</a></li>
                                    <li><a href="#">Receiver</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>TopBrands
                                        <div uk-grid class="uk-grid">
                                            <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right uk-margin-left ">
                                                <img  src="/logo/apple.jpg">
                                                
                                            </a>
                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/asus.jpg">
                                                
                                               </a>
                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/honor.jpg">
                                                
                                               </a>
                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-left uk-margin-small-right">
                                                <img  src="/logo/mi.jpg">
                                                
                                               </a>
                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/vivo.jpg">
                                                
                                               </a>
                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/sony.jpg">
                                                
                                               </a>

                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-left uk-margin-small-right">
                                                <img  src="/logo/samsung.jpg">
                                                
                                               </a>

                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/oneplus.jpg">
                                                
                                               </a>

                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/nokia.jpg">
                                                
                                               </a>

                                               <a class="uk-card uk-card-small uk-card-default uk-card-body uk-width-1-5@m uk-margin-left uk-padding-remove uk-margin-small-right">
                                                <img  src="/logo/Motorola.jpg">
                                                
                                               </a>

                                        </div>
                                        
                                    <li>
                                    
                                </ul>
                            </div>
                            
                        </div>
                       
                    </div>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        T.V Repair
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        Laptop Repair
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon k-margin-small-right" uk-icon="icon: star"></span>
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                        About Us
                    </a>
                </li>
            </ul>
            <div class="uk-flex uk-flex-between">
                <a id="btnHomePageSignUp" class="uk-button uk-width-small uk-button-secondary uk-margin-right">SIGN UP</a>
                <a id="btnHomePageLogIn" class="uk-button uk-width-small uk-button-primary" name="Login"
                    >Login</a>
            </div>
        </div>
    </nav>
    <div id="Navigation" uk-grid>
        <a href='http://localhost:3000/home' class="uk-padding-remove-right">Home</a>
    </div>
    
    <div id="Product" class="uk-hidden uk-margin-medium-left">
        <h1>Select Product</h1>
        
    </div>
    <div id="Color" class="uk-hidden uk-margin-medium-left">
        <h1>Select Color</h1>
        
    </div> 
    <div id="Checkout" class="uk-hidden uk-margin-large-left" uk-grid>
        <div id="ProductSummary" class="uk-card uk-card-body uk-width-2-3">

        </div>
        <div id="PriceSummary" class="uk-card uk-card-body uk-margin-small-left uk-width-1-4 uk-padding-small-right">
            <span>Price Summary</span>

        </div>

    </div>
    <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
          <button class="uk-offcanvas-close" type="button" uk-close></button>
      
          <img src="https://www.cashify.in/static/svgs/sign_in.svg" />
      
          <h6>
            You’re just 1-step away from repairing your device.
          </h6>
          <p> Please enter your phone number</p>
          <input class="uk-input" type="text" placeholder="Please Enter your contact number">
          <div class="uk-margin"><button id="btnPhoneNumber" class="uk-button uk-button-primary">Continue</button></div>
        </div>
      </div>
        <div class="">
            <h2 class="uk-card-title uk-margin-remove-bottom">Top Selling Brands</h2>
        </div>

        <div>
            <div class="uk-flex uk-flex-wrap ">
                <div id="Brand" class="uk-margin-medium-left">
                </div>
            </div>
        </div>


    <div class="uk-card-default uk-card uk-card-body">
            <div class="">
                <h2 class="uk-padding-remove-top">How Cashify Works</h2>
            </div>
        <ul class="uk-child-width-expand@s uk-text-center" uk-grid>
            <li class="uk-width-1-4 uk-card-small uk-margin-large-left">
                <div class="uk-card uk-card-body uk-padding-remove">
                    <i class="">
                        <img class="uk-width-1-3@m" alt="Check Price" src="/logo/price_check.png"></i>
                    <div class="">
                        <div class="">
                            <span
                                class="">1</span>
                            <div><span class="">Check Price</span>
                            </div>
                        </div>
                        <p class="">Select your device &amp; tell us about its current
                            condition, and our advanced AI tech will tailor make the perfect price for you.</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-1-4 uk-card-small uk-margin-auto">
                <div class="uk-card uk-card-body uk-padding-remove">
                    <i class="">
                        <img class="uk-width-3-5@m" alt="Schedule Pickup" src="/logo/pickup.png">
                    </i>
                    <div class="">
                        <div class="">
                            <span
                                class="">2</span>
                            <div><span class="">Schedule Pickup</span>
                            </div>
                        </div>
                        <p class="">Book a free pickup from your home or work at a time
                            slot that best suits your convenience.</p>
                    </div>
                </div>
            </li>
            <li class="uk-width-1-4 uk-card-small">
                <div class="uk-card uk-card-body uk-padding-remove"><i
                        class=""><img class="uk-width-1-3@m" alt="Get Paid"
                            src="/logo/paid.png"></i>
                    <div class="">
                        <div class=""><span
                                class="">3</span>
                            <div><span class="">Get Paid</span></div>
                        </div>
                        <p class="">Did we mention you get paid as soon as our executive
                            picks up your device? It's instant payment all the way!</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="tm-bottom" class="tm-bottom uk-section-muted">
                            <div class="uk-grid-margin uk-flex-middle uk-grid" uk-grid>
                                <div class="uk-width-1-5@m uk-first-column">
                                    <div class="uk-margin-small"> 
                                        <picture class="uk-width-1-2@s"><img src="/logo/Nishkritih_logo.png"
                                                alt="Nishkritih Logo" class="uk-width-1-2" />
                                        </picture>
                                    </div>
                                    <div class="uk-panel"><br>
                                        Copyright <a style="color: #02171f;">Nishkritih Inc.</a><br>
                                        <div class="uk-margin-small">
                                            <div class="uk-child-width-auto uk-grid-small uk-flex-middle uk-grid">
                                                <div class="uk-first-column">
                                                    <a class="uk-icon" href="" uk-icon="icon: linkedin;" target="_blank"
                                                        rel="noopener noreferrer"><svg width="20" height="20"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                            data-svg="linkedin"></svg></a>
                                                </div>
                                                <div>
                                                    <a class="uk-icon" href="" uk-icon="icon: twitter;" target="_blank"
                                                        rel="noopener noreferrer"><svg width="20" height="20"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                            data-svg="twitter"></svg></a>
                                                </div>
                                                <div>
                                                    <a class="uk-icon" href="" uk-icon="icon: facebook;" target="_blank"
                                                        rel="noopener noreferrer"><svg width="20" height="20"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                            data-svg="facebook"></svg></a>
                                                </div>
                                                <div>
                                                    <a class="uk-icon" href="" uk-icon="icon: instagram;"
                                                        target="_blank" rel="noopener noreferrer"><svg width="20"
                                                            height="20" viewBox="0 0 20 20"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            data-svg="instagram"></svg></a>
                                                </div>
                                                <div>
                                                    <a class="uk-icon" href="" uk-icon="icon: youtube;" target="_blank"
                                                        rel="noopener noreferrer"><svg width="20" height="20"
                                                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                                                            data-svg="youtube"></svg></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-expand">
                                </div>
                                <div class="uk-width-auto">
                                    <div class="uk-grid-divider uk-grid" uk-grid="">
                                        <div class="uk-first-column">
                                            <ul style="list-style-type: none;">
                                                <li><a class="uk-link-muted" href="">Products</a>
                                                </li>
                                                <li><a class="uk-link-muted" href="">Features</a>
                                                </li>
                                                <li><a class="uk-link-muted" href="">Pricing</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <ul style="list-style-type: none;">
                                                <li><a class="uk-link-muted" href="">Blog</a>
                                                </li>
                                                <li><a class="uk-link-muted" href="">
                                                        <nobr style="pointer-events: none;">Developers</nobr>
                                                    </a></li>
                                                <li><a class="uk-link-muted" href="">
                                                        <nobr style="pointer-events: none;">User Agreement</nobr>
                                                    </a></li>
                                                <li><a class="uk-link-muted" href="">
                                                        <nobr style="pointer-events: none;">Privacy Notice</nobr>
                                                    </a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <ul style="list-style-type: none;">
                                                <li><a uk-toggle="target:#contact-us-lightbox" class="uk-link-muted"
                                                        data-gtmsection="footerContact" data-gtm="btnContact">
                                                        <nobr style="pointer-events: none;">Contact Us</nobr>
                                                    </a></li>
                                                <li><a class="uk-link-muted" href="">
                                                        <nobr style="pointer-events: none;">About Us</nobr>
                                                    </a></li>
                                                <li><a class="uk-link-muted" href="">Support</a></li>
                                                <li><a class="uk-link-muted" href="">Careers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</body>

</html>